<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin Details</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/customerHome.css}">
    <link rel="stylesheet" th:href="@{/css/customerHeader.css}">
</head>
<body>
	<header th:replace="~{admin/fragments/header::header}"></header>
	
    <div class="sidebar">
        <ul>
            <li><a th:href="@{/admin/{id}(id=${id})}" >Post</a></li>
			<li><a th:href="@{/admin/{id}/statistic(id=${id})}">Statistic</a></li>
			<li><a th:href="@{/admin/{id}/voucher(id=${id})}">Voucher</a></li>
			<li><a th:href="@{/admin/{id}/profile(id=${id})}" style="color: red;">Account</a></li>
        </ul>
    </div>
    <div class="content">
    <!-- Container mt-5 -->
    <div class="container mt-5">
        <h1 class="mb-4">Admin Details</h1>

        <table class="table table-bordered table-striped">
            <tbody>
            	<tr>
                    <th>Picture</th>
                    <td>
                    	<img height="300" width="300"
						th:if="${admin.picture != null and admin.picture.startsWith('http')}"
						th:src="${admin.picture}" alt="Profile Picture" /> 
						<img
						height="300" width="300"
						th:if="${admin.picture != null and !admin.picture?.startsWith('http')}"
						th:src="@{/image/{fname}(fname=${admin.picture})}"
						alt="Profile Picture" /> 
						<img height="300" width="300"
						th:if="${admin.picture == null}"
						th:src="@{/image/{fname}(fname='avatar.jpg')}" alt="Default Avatar" />
                        <!-- <img th:src="@{${admin.picture}}" alt="admin Picture" class="img-thumbnail" style="max-width: 200px;"> -->
                    </td>
                </tr>
                 <tr>
                    <th>Username</th>
                    <td th:text="${admin.account.username}"></td>
                </tr>
                <tr>
                    <th>admin ID</th>
                    <td th:text="${admin.adminID}"></td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td th:text="${admin.name}"></td>
                </tr>
                <tr>
                    <th>Gender</th>
                    <td th:text="${admin.gender == 1 ? 'Male' : (admin.gender == 2 ? 'Female' : 'Other')}"></td>
                </tr>
          
                <tr>
                    <th>City</th>
                    <td th:text="${admin.city}"></td>
                </tr>
                <tr>
                    <th>Address</th>
                    <td th:text="${admin.address}"></td>
                </tr>
                <tr>
                    <th>Date of Birth</th>
                    <td th:text="${#dates.format(admin.birth, 'yyyy-MM-dd')}"></td>
                </tr>
                <tr>
                    <th>Phone</th>
                    <td th:text="${admin.phone}"></td>
                </tr>
                <tr>
                    <th>CCCD</th>
                    <td th:text="${admin.cccd}"></td>
                </tr>
               
                
            </tbody>
        </table>

        <a th:href="@{/admin/{id}(id=${id})}" class="btn btn-primary">Back to List</a>
    </div>
	<!-- Container mt-5 -->
	</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
