<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Details</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

    <!-- Including Header Fragment -->
    <div th:replace="admin/fragments/header :: header"></div>

    <h1>Post Details</h1>
    
    <!-- Hiển thị thông báo nếu có -->
    <div th:if="${message}" class="alert alert-success">
        <p th:text="${message}"></p>
    </div>

    <!-- Displaying the Post information -->
    <table border="1">
        <thead>
            <tr>
                <th>IDPost</th>
                <th>NamePost</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="p : ${post}">
                <td th:text="${p.IDPost}"></td>
                <!-- Accessing the IDPost of each Post object -->
                <td th:text="${p.namePost}"></td>
                <td>
                    <a th:href="@{/admin/post/edit(id=${p.IDPost})}">Edit</a> |
                    <a th:href="@{/admin/post/delete(id=${p.IDPost})}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- Edit and Add buttons -->
    <div>
        <a href="/admin/post/addPost" class="button">Add New Post</a>
    </div>

</body>
</html>
