<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shipping form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/customerOrder.css}"> 
    <link rel="stylesheet" th:href="@{/css/customerHeader.css}">
</head>
<body>
	<!-- HEADER -->
	<header th:replace="~{customer/fragments/header::header}"></header>

	<div class="sidebar">
		<ul>
            <li><a th:href="@{/customer/order/{id}(id=${id})}" style="color: red;">Create Order</a></li>
			<li><a th:href="@{/customer/statistic/{id}(id=${id})}">Statistic</a></li>
			<li><a th:href="@{/customer/{id}(id=${id})}" >Orders to Process</a></li>
			<li><a th:href="@{/customer/profile/{id}(id=${id})}" >Account</a></li>
		</ul>
	</div> 
	
    <!-- Main Content -->
	<div class="content">
		<!-- card Shadow -->
		<div class="card shadow">
			<!-- row g-0 -->
			<div class="row g-0">
			<h2>Shipping form</h2>
			
	        <form class="form1" th:action="@{/customer/order/create/{id}(id=${id})}" method="POST">
	             <!-- Receiver Information -->
	             <h3>Receiver Information</h3>
	            <div class="form-group">
	                <label for="nameReceiver">Receiver Name:</label>
	                <input type="text" id="nameReceiver" name="nameReceiver" required>
	            </div>
	            <div class="form-group">
	                <label for="phoneReceiver">Receiver Phone:</label>
	                <input type="tel" id="phoneReceiver" name="phoneReceiver" required>
	            </div>
	            
	            <!-- Destination Addresses -->
	            <div class="form-group">
	                <label for="dest">Receiver Address:</label>
	                <input type="text" id="dest" name="dest" required>
	            </div>
	            <!-- City -->
				<div class="form-group">
					<label for="city" class="form-label"> Receiver City:</label>
					<select  id="destCity" name="destCity" required>
						<option th:each="city : ${cities}" 
					     	th:value="${city.cityName}" 
					        th:text="${city.cityName}" 
					        th:selected="${city.cityName == 'Hà Nội'}">
					        th:attr="data-city-fee=${city.cityID}">
					        
					    </option>
					</select>
				</div>
	            
	            <!-- SENDER INFORMATION -->
	            <!-- Source address -->
	            <h3>Sender Information</h3>
	            <div class="form-group">
	                <label for="source">Sender Address:</label>
	                <input type="text" id="source" name="source" required>
	            </div>
	           
				<!-- City -->
				<div class="form-group">
					<label for="city" class="form-label">Sender City:</label>
					<select id="sourceCity" name="sourceCity" required>
						<option th:each="city : ${cities}" 
					     	th:value="${city.cityName}" 
					        th:text="${city.cityName}" 
					        th:selected="${city.cityName == 'Hà Nội'}"
					        th:attr="data-city-fee=${city.cityID}">
					    </option>
					</select>
				</div>
					
	            
	            <h3>Order Information</h3>
	            <!-- Weight -->
	            <div class="form-group">
	                <label for="weight">Weight (kg):</label>
	                <input type="number" id="weight" name="weight" required>
	            </div>
	
	            <!-- Height -->
	            <div class="form-group">
	                <label for="height">Height (cm):</label>
	                <input type="number" id="height" name="height" required>
	            </div>
	
	            <!-- Width -->
	            <div class="form-group">
	                <label for="width">Width (cm):</label>
	                <input type="number" id="width" name="width" required>
	            </div>
	
	          
	            <!-- Fee Information -->
	            <div class="form-group">
	                <label for="codFee">COD Fee:</label>
	                <input type="number" id="codFee" name="codFee" >
	            </div>
	            
				
	
	            <!-- Goods -->
	            <div class="form-group">
	                <label for="goodsID">Goods:</label>
	                <select  id="goodsID" name="goodsID" required>
						<option th:each="good : ${goods}" 
					     	th:value="${good.goodsID}" 
					        th:text="${good.goodsType}" 
					        th:attr="data-good-fee=${good.goodsFee}">
					      
					    </option>
					</select>
	            </div>
	            
	            <!-- Transport -->
	            <div class="form-group">
	                <label for="transportID">Transport:</label>
	                <select  id="transportID" name="transportID" required>
						<option th:each="transport : ${transports}" 
					     	th:value="${transport.transportID}" 
					        th:text="${transport.transportType}"
					        th:selected="${transport.transportID == 1}"			        
					        th:attr="data-transport-fee=${transport.transportFee}" >
					    </option>
					</select>
	            </div>
	            
	            
	            
	            
	            <h3>Total</h3>
	            
	            <div class="form-group">
				    <label for="shipFee">Shipping Fee:</label>
				    <input type="number" id="shipFee" name="shipFee" readonly>
				</div>
	            <!-- Voucher -->
	            <div class="form-group">
	                <label for="voucherID">Voucher:</label>
	                <select id="voucherID" name="voucherID">
	                    <option th:each="voucher : ${vouchers}" 
					     	th:value="${voucher.voucherID}" 
					        th:text="${voucher.voucherName}" 
					        th:selected="${voucher.voucherID == 1}"			        
					        
					        th:attr="data-voucher-fee=${voucher.discount}" >
					    </option>
	                </select>
	            </div>
	            
	            <div class="form-group">
				    <label for="COD_surcharge">COD surcharge:</label>
				    <input type="number" id="COD_surcharge" name="COD_surcharge" readonly>
				</div>
	            
	            <div class="form-group">
				    <label for="total">Total:</label>
				    <input type="number" id="total" name="total" readonly>
				</div>
	
	            <!-- Submit Button -->
	            <div class="form-group">
	                <button type="submit">Create Order</button>
	            </div>

	        </form>
			</div>
			<!-- row g-0 -->
		</div>
		<!-- card Shadow -->
	</div>
	<!-- Main Content -->
	
		
	
    <script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
		
	<script>
	    // Hàm tính phí vận chuyển
	    function calculateShipFee() {
	        // Lấy các giá trị từ các trường
	        const weight = parseFloat(document.getElementById('weight').value) || 0;
	        const width = parseFloat(document.getElementById('width').value) || 0;
	        const height = parseFloat(document.getElementById('height').value) || 0;
	        const codFee = parseFloat(document.getElementById('codFee').value) || 0;
	        const transportType = document.getElementById('transportID').value;
	        const goodsType = document.getElementById('goodsID').value;
	        //const voucher = document.getElementById('voucherID').value;			
	        //
	        
	        //Voucher
	        const voucherSelect = document.getElementById('voucherID');
	        const selectedVoucher = voucherSelect.options[voucherSelect.selectedIndex];
	        const voucherFee = parseFloat(selectedVoucher.getAttribute('data-voucher-fee')) || 0;
	        
	        //Transport
	        const transportSelect = document.getElementById('transportID');
	        const selectedTransport = transportSelect.options[transportSelect.selectedIndex];
	        const transportFee = parseFloat(selectedTransport.getAttribute('data-transport-fee')) || 0;
	        
	     	// Lấy phí city (destination)
	        const destCitySelect = document.getElementById('destCity');
	        const selectedDestCity = destCitySelect.options[destCitySelect.selectedIndex];
	        const destCityFee = parseFloat(selectedDestCity.dataset.cityFee) || 0;
	        
	     	// Lấy phí city (source)
	        const sourceCitySelect = document.getElementById('sourceCity');
	        const selectedSourceCity = sourceCitySelect.options[sourceCitySelect.selectedIndex];
	        const sourceCityFee = parseFloat(selectedSourceCity.dataset.cityFee) || 0;

	        // Lấy phí hàng hóa
	        const goodsSelect = document.getElementById('goodsID');
	        const selectedGoods = goodsSelect.options[goodsSelect.selectedIndex];
	        const goodFee = parseFloat(selectedGoods.dataset.goodFee) || 0;
	        //Dieu kien khong am
	        if (weight <0) weight =1;
	        if (height <0) height =1;
	        if (width <0) width =1;
	        

	        
	        
	        // Công thức tính phí (đây là ví dụ, bạn cần thay thế bằng logic cụ thể của mình)
	        let province = Math.abs(destCityFee-sourceCityFee);
	        if (province==0) province=1;
	        
	        let shipFee = transportFee *goodFee  * (province + weight) ;
			let cod_surcharge = codFee*0.1;
			let total = shipFee + cod_surcharge +codFee;
			if ( voucherFee<0 ) shipFee = shipFee + voucherFee;
			if ( voucherFee>0 ) shipFee = shipFee * voucherFee;
			total = shipFee + cod_surcharge +codFee;
			if (total < 0) total=0;
	
	        // Hiển thị giá trị shipFee trong trường
	        document.getElementById('shipFee').value = shipFee.toFixed(2);
	        
	     	// Hiển thị giá trị codFee trong trường
	        document.getElementById('COD_surcharge').value = cod_surcharge.toFixed(2);
	        document.getElementById('codFee').value = cod_surcharge.toFixed(2);
	     	
	    	 // Hiển thị giá trị codFee trong trường
	        document.getElementById('total').value = total.toFixed(2);
	    }
	
	    // Lắng nghe sự kiện thay đổi trên các trường
	    document.getElementById('weight').addEventListener('input', calculateShipFee);
	    document.getElementById('width').addEventListener('input', calculateShipFee);
	    document.getElementById('height').addEventListener('input', calculateShipFee);
	    document.getElementById('codFee').addEventListener('input', calculateShipFee);
	    document.getElementById('transportID').addEventListener('change', calculateShipFee);
	    document.getElementById('goodsID').addEventListener('change', calculateShipFee);
	    document.getElementById('voucherID').addEventListener('change', calculateShipFee);
	    document.getElementById('destCity').addEventListener('change', calculateShipFee);
	    document.getElementById('sourceCity').addEventListener('change', calculateShipFee);

	    
	</script>
	
</body>
</html>
